{{ if .Site.Data.classes.enable}}
{{"<!-- Start classes section -->" | safeHTML}}
<section id="classes" class="classes section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                <h2>{{ with .Site.Data.classes.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.classes.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
				{{ range .Site.Data.classes.classesTable }}
				{{"<!-- single classes table -->" | safeHTML}}
				<div class="col-md-6 col-sm-6 col-xs-6 text-center wow fadeInUp" data-wow-duration="200ms" border-radius:50%>
					<div class="price-item">

						{{"<!-- plan name & value -->" | safeHTML}}
						<div class="price-title text-center">
							<h3>{{ .title }}</h3>
							<p><strong class="value">{{ .price }}</strong>/ {{ .time }}</p>
						</div>

						{{"<!-- plan description -->" | safeHTML}}
						<ul>
							{{ range .plan }}
							<li>{{ .planDetails }}</li>
							{{ end }}
						</ul>
					</div>
				</div>

				{{"<!-- end single classes table -->" | safeHTML}}
				{{ end }}
				{{"<!-- signup button -->" | safeHTML}}
				<div class="title text-center wow fadeInDown" data-wow-duration="500ms">
				<a class="btn btn-main" href="{{ .Site.Data.classes.btnURL | absURL}}" target="_blank">{{ .Site.Data.classes.btnText }}</a>
				</div>
				{{ range .Site.Data.classes.footerTable}}
				<p>- {{ .footer}} </p>
				{{ end }}
		</div>
    </div>
</section>
{{"<!-- /classes -->" | safeHTML}}
{{ end }}