{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="block">
        <!--<div class="video-button">
           {{with .Site.Params.banner.icon}} <i class="{{ . }}"></i> {{ end }}
        </div>-->
       {{with .Site.Params.banner.heading}} <h2>{{ . }}</h2>{{ end }}
       {{ if .Site.Params.banner.showLatestBlogPost}}
       {{ range first 1 .Data.Pages }}<p>{{ .Title }}<a class="btn btn-main" href="{{ .Permalink }}">Read more</a></p>{{end}}
       {{else}}
       {{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}
       {{end}}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>
        <a data-scroll href="{{ .Site.Params.banner.fbURL}}" class="btn btn-transparent">{{ .Site.Params.banner.fbText}}</a>
        {{ end }}
        <!--<h3><div class="fb-page" data-href="https://www.facebook.com/NiskayunaCoopNurserySchool/" data-tabs="timeline" data-height="10" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/NiskayunaCoopNurserySchool/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NiskayunaCoopNurserySchool/">Niskayuna Co-op Nursery School</a></blockquote></div></h3>
    --></div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}