{{"<!-- Fixed Navigation -->" | safeHTML}}
<header id="navigation" class="navbar navigation">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
        <div class="navbar-header">
            {{"<!-- responsive nav button -->" | safeHTML}}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{"<!-- /responsive nav button -->" | safeHTML}}

            {{"<!-- logo -->" | safeHTML}}
            <a class="navbar-brand logo" href="{{ .Site.BaseURL | absURL }}">
                <img src="{{ .Site.Params.logo | absURL }}" alt="Logo" />
            </a>
            {{"<!-- /logo -->" | safeHTML}}
        </div>
        {{"<!-- main nav -->" | safeHTML}}
        {{ if .IsHome }}        
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav navigation-menu">
                        <li><a data-scroll href="#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                        {{ range $.Site.Menus.nav }}
                        <li><a data-scroll href="#{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
        {{ else }}
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav navigation-menu">
                        <li><a data-scroll href="{{ $.Site.BaseURL }}#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                        {{ range $.Site.Menus.nav }}
                        <li><a data-scroll href="{{ $.Site.BaseURL }}#{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
        {{ end }}
        {{"<!-- /main nav -->" | safeHTML}}

        <div class="fb-page" data-href="https://www.facebook.com/NiskayunaCoopNurserySchool/" data-tabs="timeline" data-height="10" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/NiskayunaCoopNurserySchool/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NiskayunaCoopNurserySchool/">Niskayuna Co-op Nursery School</a></blockquote></div>
    </div>
    
</header>
{{"<!-- End Fixed Navigation -->" | safeHTML}}