{{ if .Site.Data.pricing.enable}}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                <h2>{{ with .Site.Data.pricing.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.pricing.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
				{{ range .Site.Data.pricing.pricingTable }}
				{{"<!-- single pricing table -->" | safeHTML}}
				<div class="col-md-6 col-sm-6 col-xs-6 text-center wow fadeInUp" data-wow-duration="200ms" border-radius:50%>
					<div class="price-item">

						{{"<!-- plan name & value -->" | safeHTML}}
						<div class="price-title text-center">
							<h3>{{ .title }}</h3>
							<p><strong class="value">{{ .price }}</strong>/ {{ .time }}</p>
						</div>

						{{"<!-- plan description -->" | safeHTML}}
						<ul>
							{{ range .plan }}
							<li>{{ .planDetails }}</li>
							{{ end }}
						</ul>

						{{"<!-- signup button -->" | safeHTML}}
						<a class="btn btn-main" href="{{ .btnURL | absURL}}" target="_blank">{{ .btnText }}</a>

					</div>
				</div>
				
				{{"<!-- end single pricing table -->" | safeHTML}}
				{{ end }}
				<p>Children are not required to be potty trained before they start our 3-year-old class</p>
				<p>Space still available in the two day class and limited space available in the three day class!</p>
		</div>
    </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}