{{ partial "header.html" . }}
	
{{ partial "preloader.html" . }}
	    
{{ partial "hero-area.html" . }}

{{ partial "navigation.html" . }}

{{ partial "pricing.html" . }}

{{ partial "about.html" . }}

{{ partial "philosophy.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "skill.html" . }}

{{ partial "traditions.html" . }}

{{ partial "blog.html" . }}

{{ partial "counter.html" . }}

{{ partial "team.html" . }}
		
{{ partial "testimonial.html" . }}





{{ partial "contact.html" . }}

{{ partial "footer.html" . }}